# Docker network used to discover labeled containers
CADDY_INGRESS_NETWORKS=caddy

# Expose Caddy admin API on port 5003 - No Authentication
CADDY_API_ENABLED=false

# Primary domain for initial certbot certificate
ROOT_DOMAIN=glitchtip.example.com

# Email used for ACME (Let's Encrypt) registration
ACME_EMAIL=admin@example.com
